body {
    background-image: url(../image/);
}
nav li{
    font-size: 1em;
    display: inline-block;
}
nav {
	padding: 0; margin: 0;
	text-align: center;
}
nav a {
	display:inline-block;
	margin: 2em 30px;
    background: cyan;
    border-radius: 50px;
    padding: 5px 10px;
}
h1 {
    margin: 1em;
    font-size: 2em;
    text-align: center;
    color: purple;
    background-color: cyan;
    font-style: italic;
    font-weight: bolder;
    font-family: times;
    border-radius: 30px;
}
h2 {
    font-size: 50px;
    text-align: center;
    color: purple;
}
h3 {
    background: -webkit-linear-gradient(0deg, red, orange, yellow, green, blue, indigo, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
p {
    color: purple;
    font-style: italic;
}
a {
    font-size: 3em;
    text-decoration: none;
    text-align: center;
}
a:hover {
    background: -webkit-linear-gradient(0deg, red, orange, yellow, green, blue, indigo, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
a:visited {
    color:purple;
}
li {
    color: purple;
    text-align:left;
    font-size: 1em;
}
label {
    color: midnightblue;
    font-weight: bold;
    display: inline-block;
    width:9em;
    margin-top: 2em;
}
label.futur {
    font-style: italic;
}
form {
    width:40%;
    margin-top: 3em;
}
legend {
    font-size: 1em;
    color: blue;
}
fieldset {
    width:50%;
    border-radius: 30px;
}
input {
    border-radius: 30px;
    border-color: blue;
}
section {
    font-style: italic;
    font-size: 1em;
    font-weight: bold;
    color: purple;
}
