body {
    background-image: url(../image/tree-838667_1280.jpg);
}
h1 {
    margin: 1em;
    font-size: 4em;
    text-align: center;
    color: darkmagenta;
    background-color: none;
    font-style: italic;
    font-family: times new roman;
}
p {
    color: purple;
    font-style: italic;
}
a {
    font-size: 2em;
    text-decoration: none;
}
a:hover {
    color:blue;
}
a:visited {
    color:purple;
}
li {
    color: indigo;
    text-align:left;
    font-size: 2em;
}
label {
    color: midnightblue;
    font-weight: bold;
}
label.futur {
    font-style: italic;
}
